<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <!--<ion-nav-bar class="bar-stable" align-title="center">-->
            <!--&lt;!&ndash;<ion-nav-back-button>&ndash;&gt;-->
            <!--&lt;!&ndash;</ion-nav-back-button>&ndash;&gt;-->

            <!--&lt;!&ndash;<ion-nav-buttons side="left">&ndash;&gt;-->
                <!--&lt;!&ndash;<button class="button button-icon button-clear ion-navicon" menu-toggle="left">&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</ion-nav-buttons>&ndash;&gt;-->

            <!--&lt;!&ndash;<ion-nav-buttons side="right">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="button button-icon button-clear fa fa-map-marker"&ndash;&gt;-->
                     <!--&lt;!&ndash;ng-if="$root.toState == 'app.offer_list'"&ndash;&gt;-->
                     <!--&lt;!&ndash;style="color: indianred"&ndash;&gt;-->
                     <!--&lt;!&ndash;ui-sref="app.google_map">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</ion-nav-buttons>&ndash;&gt;-->
        <!--</ion-nav-bar>-->
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <!--<ion-side-menu side="left" class="menu">-->
        <!--<ion-header-bar class="bar-dark">-->
            <!--<h1 class="title">Menu</h1>-->
        <!--</ion-header-bar>-->
        <!--<ion-content>-->
            <!--<ion-list>-->
                <!--<ion-item menu-close class="item-icon-left">-->
                    <!--&lt;!&ndash;<i class="icon ion-clipboard"></i>&ndash;&gt;-->
                    <!--Test-->
                <!--</ion-item>-->
                <!--<ion-item menu-close class="item-icon-left">-->
                    <!--&lt;!&ndash;<i class="icon ion-star"></i>&ndash;&gt;-->
                    <!--Test-->
                <!--</ion-item>-->
                <!--<ion-item menu-close class="item-icon-left">-->
                    <!--&lt;!&ndash;<i class="icon ion-person"></i>&ndash;&gt;-->
                    <!--Test-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ng-click="vm.logout()" class="item-icon-left">-->
                    <!--&lt;!&ndash;<i class="icon ion-power"></i>&ndash;&gt;-->
                    <!--Log out-->
                <!--</ion-item>-->
            <!--</ion-list>-->
        <!--</ion-content>-->
    <!--</ion-side-menu>-->
</ion-side-menus>
